<div class="py-12">
  <div class="flex justify-around">
    <div class="w-5/6 mx-8 w-1/6 lg:px-4">
      <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
        <div class="p-6 bg-white border-b border-gray-200">
          <ul class="toolbar">
            <tr><%= link_to "公開プロフィール", :external_coach_profile %></tr>
            <tr><%= link_to "アカウント情報の編集", :external_coach_account %></tr>
          </ul>
        </div>
      </div>
    </div>

    <div class="ml-32 w-5/6 mx-16 w-5/6">
      <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
        <div class="p-6 bg-white border-b border-gray-200">
            <% @page_title = "マイアカウント" %>
            <% @current_external_coach %>

            <h1><%= @page_title %></h1>

            <div class="toolbar"><%= link_to "編集", :edit_external_coach_account %></div>

            <table class="attr">
                <tr>
                    <th>氏名</th>
                    <td><%= @external_coach.family_name %></td>
                    <td><%= @external_coach.given_name %></td>
                </tr>
                <tr>
                    <th>フリガナ</th>
                    <td><%= @external_coach.family_name_kana %></td>
                    <td><%= @external_coach.given_name_kana %></td>
                </tr>
                <tr>
                    <th>性別</th>
                    <td><%= @external_coach.sex == 1 ? '男' : '女' %></td>
                </tr>
                <tr>
                    <th>誕生日</th>
                    <td><%= @external_coach.birthday.strftime("%Y年%m月%d日") %></td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td><%= @external_coach.email %></td>
                </tr>
                <tr>
                    <th>場所</th>
                    <td><%= @external_coach.area_id %></td>
                </tr>
                <tr>
                    <th>スポーツ名</th>
                    <td><%= @external_coach.sport_id %></td>
                </tr>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>