<div class="notes">
  <span class="mark">*</span> 印の付いた項目は入力必須です。
</div>
<div>
  <%= f.label :email, "メールアドレス", class: "required" %>
  <%= f.email_field :email, size: 32, required: true %>
</div>
<% if f.object.new_record? %>
  <div>
    <%= f.label :password, "パスワード", class: "required" %>
    <%= f.password_field :password, size: 32, required: true %>
  </div>
<% end %>
<div>
  <%= f.label :family_name, "氏名", class: "required" %>
  <%= f.text_field :family_name, required: true %>
  <%= f.text_field :given_name, required: true %>
</div>
<div>
  <%= f.label :family_name_kana, "フリガナ", class: "required" %>
  <%= f.text_field :family_name_kana, required: true %>
  <%= f.text_field :given_name_kana, required: true %>
</div>
<div>
  <%= f.label :start_date, "入社日", class: "required" %>
  <%= f.date_field :start_date, required: true %>
</div>
<div>
  <%= f.label :end_date, "退職日" %>
  <%= f.date_field :end_date %>
</div>
<div class="check-boxes">
  <%= f.check_box :suspended %>
  <%= f.label :suspended, "アカウント停止" %>
</div>
<div>
  <%= f.label :sport_id, "スポーツID", class: "required" %>
  <%= f.text_field :sport_id, required: true %>
</div>
<div>
  <%= f.label :area_id, "エリアID", class: "required" %>
  <%= f.text_field :area_id, required: true %>
</div>
<div>
  <%= f.label :sex, "性別", class: "required" %>
  <%= f.text_field :sex, required: true %>
</div>
<div>
  <th><%= f.label :birthday, for: "external_coach_birthday_1i" %></th>
  <td><%= f.date_select :birthday,
    start_year: 1940, end_year: Time.current.year,
    use_month_numbers: true %></td>
</div>
