<% @title = "外部コーチアカウントの編集" %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_with model: @external_coach, url: :external_coach_user do |form| %>
    <%= render "shared/user/form", form: form %>
    <div class="buttons">
      <%= form.submit "更新" %>
      <%= link_to "キャンセル", :external_coach_users %>
    </div>
  <% end %>
</div>