<% @page_title = "会員情報の編集" %>

<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "会員の詳細に戻る", :club_advisor_account %></div>

<%= render "shared/errors", obj: @club_advisor %>

<%= form_with model: @club_advisor, url: club_advisor_account_path(@club_advisor) do |form| %>
    <table class="attr">
        <tr>
            <th><%= form.label :sport_id %></th>
            <td><%= form.text_field :sport_id, size: 8 %></td>
        </tr>
        <tr>
            <th><%= form.label :family_name %></th>
            <td><%= form.text_field :family_name %></td>
        </tr>
        <tr>
            <th><%= form.label :given_name %></th>
            <td><%= form.text_field :given_name %></td>
        </tr>
        <tr>
            <th><%= ClubAdvisor.human_attribute_name(:sex) %></th>
            <td>
            <%= form.radio_button :sex, 1 %>
            <%= form.label :sex_1 %>
            <%= form.radio_button :sex, 2 %>
            <%= form.label :sex_2 %>
            </td>
        </tr>
        <tr>
            <th><%= form.label :birthday, for: "club_advisor_birthday_1i" %></th>
            <td><%= form.date_select :birthday,
                    start_year: 1940, end_year: Time.current.year,
                    use_month_numbers: true %></td>
        </tr>
        <tr>
            <th><%= form.label :email %></th>
            <td><%= form.text_field :email %></td>
        </tr>
        <% if @club_advisor.new_record? %>
            <tr>
            <th><%= ClubAdvisor.human_attribute_name(:password) %></th>
            <td><%= form.text_field :password %></td>
            </tr>
        <% end %>
        <% if controller.kind_of?(ClubAdvisor::UsersController) %>
            <tr>
            <th><%= ClubAdvisor.human_attribute_name(:club_advisor) %></th>
            <td>
                <%= form.check_box :club_advisor %>
                <%= form.label :club_advisor %>
            </td>
            </tr>
        <% end %>
        <tr>
            <td><%= form.submit "更新" %></td>
        </tr>
    </table>    
  <div></div>
<% end %>
