<div class="py-12">
  <div class="flex justify-around">
    <div class="w-5/6 mx-8 w-1/6 lg:px-4">
      <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
        <div class="p-6 bg-white border-b border-gray-200">
            <table>
            <tr class="toolbar">
                <td><%= link_to "公開プロフィール", :club_advisor_profile %></td>
            </tr>
                <td><%= link_to "アカウント情報の編集", :club_advisor_account %></td>
            </table>
        </div>
      </div>
    </div>

    <div class="ml-32 w-5/6 mx-16 w-5/6">
      <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
        <div class="p-6 bg-white border-b border-gray-200">
            <% @page_title = "マイアカウント" %>
            <% @current_club_advisor %>

            <h1><%= @page_title %></h1>

            <div class="toolbar"><%= link_to "編集", :edit_club_advisor_account %></div>


          

            <table class="attr">
                <tr>
                    <th width="150">背番号</th>
                    <td><%= @club_advisor.sport_id %></td>
                </tr>
                <tr>
                    <th>ユーザー名</th>
                    <td><%= @club_advisor.family_name %></td>
                </tr>
                <tr>
                    <th>氏名</th>
                    <td><%= @club_advisor.given_name %></td>
                </tr>
                <tr>
                    <th>性別</th>
                </tr>
                <tr>
                    <th>誕生日</th>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td><%= @club_advisor.email %></td>
                </tr>
                <tr>
                    <th>管理者</th>
                    <td><%= @club_advisor.suspended? ? "○" : "－" %></td>
                </tr>
            </table>

        </div>
      </div>
    </div>
  </div>
</div>