<% @title = "ログイン" %>

<div id="login-form">
  <h1><%= @title %></h1>

  <%= form_with model: @form, url: :external_coach_session do |f| %>
    <div>
      <%= f.label :email, "メールアドレス" %>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.submit "ログインする" %>
    </div>
  <% end %>
  <div><%= link_to "戻る", :external_coach_articles %></div>
</div>