<% @title = "クラブアドバイザーの新規登録" %>
<h1><%= @title %></h1>

<div id="generic-form">
  <%= form_with model: @club_advisor, url: :club_advisor_users do |form| %>
    <%= render "shared/errors", obj: @club_advisor %>
    <%= render "shared/user/form", form: form %>
    <div class="buttons">
      <%= form.submit "登録" %>
      <%= link_to "キャンセル", :club_advisor_users %>
    </div>
  <% end %>
</div>