<%= image_tag "logo.gif", size: "272x48", alt: "Morning Glory" %>

<div>
  <ul>
    <%= menu_link_to "探す", :external_coach_root %>
    <%= menu_link_to "メッセージ", "#" %>
    <%= menu_link_to "マイページ", "#" %>
      <ul>
        <%= menu_link_to "プロフィール", "#" %>
        <%= menu_link_to "フォローした部活", "#" %>
        <%= menu_link_to "あとで見る部活", "#" %>
        <%= menu_link_to "よくある質問", "#" %>
        <%= menu_link_to "ログアウト", "#" %>
      </ul>
  </ul>
</div>

<header>
  <span class="logo-mark">TAG MATCH</span>
  <%= content_tag(:span, flash.notice, class: "notice") if flash.notice %>
  <%= content_tag(:span, flash.alert, class: "alert") if flash.alert %>
  <%=
    if current_external_coach
      link_to "ログアウト", :external_coach_session, method: :delete
    else
      link_to "ログイン", :external_coach_login
    end
  %>
</header>