<% @page_title = @article.title %>

<table class="attr">
  <tr>
    <th width="100">タイトル</th>
    <td><%= @article.title %></td>
  </tr>
  <tr>
    <th>本文</th>
    <td><%= simple_format(@article.body_1) %></td>
  </tr>
  <tr>
    <th>本文</th>
    <td><%= simple_format(@article.body_2) %></td>
  </tr>
  <tr>
    <th>本文</th>
    <td><%= simple_format(@article.body_3) %></td>
  </tr>
  <tr>
    <th>掲載開始日時</th>
    <td><%= @article.released_at.strftime("%Y/%m/%d %H:%M") %></td>
  </tr>
  <tr>
    <th>掲載終了日時</th>
    <td><%= @article.expired_at.try(:strftime, "%Y/%m/%d %H:%M") %></td>
  </tr>
  <tr>
    <th>会員限定</th>
    <td><%= @article.external_coach_only? ? "○" : "－" %></td>
  </tr>
</table>

  <%=link_to club_advisor_relationships_path(external_coach_id: @external_coach.id), method: :delete do %>
    <button type="button" class="btn btn btn-danger">フォロー解除</button>
  <% end %>
  <%=link_to club_advisor_relationships_path(external_coach_id: @external_coach.id), method: :post do %>
    <button type="button" class="btn btn btn-primary">フォロー</button>
  <% end %>

<%= link_to "戻る", :club_advisor_articles %>
