<%= image_tag "logo.gif", size: "272x48", alt: "Morning Glory" %>

<div>
  <ul>
    <%= menu_link_to "探す", :club_advisor_root %>
    <%= menu_link_to "メッセージ", "#" %>
    <%= menu_link_to "マイページ", "#" %>
      <ul>
        <%= menu_link_to "プロフィール", "#" %>
        <%= menu_link_to "フォローしたユーザー", "#" %>
        <%= menu_link_to "あとで見るユーザー", "#" %>
        <%= menu_link_to "よくある質問", "#" %>
        <%= menu_link_to "ログアウト", "#" %>
      </ul>
  </ul>
</div>

