<%= render "shared/errors", obj: @article %>
<table class="attr">
  <tr>
    <th><%= form.label :title %></th>
    <td><%= form.text_field :title, size: 20 %></td>
  </tr>
  <tr>
    <th><%= form.label :body_1 %></th>
    <td><%= form.text_area :body_1, rows: 10, cols: 45 %></td>
  </tr>
  <tr>
    <th><%= form.label :body_2 %></th>
    <td><%= form.text_area :body_2, rows: 10, cols: 45 %></td>
  </tr>
  <tr>
    <th><%= form.label :body_3 %></th>
    <td><%= form.text_area :body_3, rows: 10, cols: 45 %></td>
  </tr>
  <tr>
    <th><%= form.label :released_at, for: "article_released_at_1i" %></th>
    <td><%= form.datetime_select :released_at,
              start_year: 2000, end_year: Time.current.year + 1,
              use_month_numbers: true %></td>
  </tr>
  <tr>
    <th><%= form.label :expired_at, for: "article_expired_at_1i" %></th>
    <td>
      <div>
        <%= form.check_box :no_expiration %>
        <%= form.label :no_expiration %>
      </div>
      <div>
        <%= form.datetime_select :expired_at,
          start_year: 2000, end_year: Time.current.year + 1,
          use_month_numbers: true %>
      </div>
    </td>
  </tr>
  <tr>
    <th><%= CaArticle.human_attribute_name(:external_coach_only) %></th>
    <td>
      <%= form.check_box :external_coach_only %>
      <%= form.label :external_coach_only %>
    </td>
  </tr>
  <tr>
    <th><%= form.label :status %></th>
    <td><%= form.select :status, CaArticle.status_options %></td>
  </tr>
</table>