<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= document_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <header>
        <%= render "external_coach/shared/header" %>
      </header>
      <div class="min-h-screen bg-gray-100">
        <div id="container">
          <%= yield %>
        </div>
      </div>
  </body>
</html>
